html,
body {
	overscroll-behavior-y: contain;
	height: 100%;
}

body {
	background-color: #111;
	overflow-y: hidden;
}

a {
	color: #55f;
}

.app-title-pulseq {
	font-weight: bold;
	color: #ddd;
	float: left;
}

.app-title-ueue {
	font-weight: bold;
	color: #555;
	float: left;
}

#app-icons {
	float: right;
	margin-left: 10px;
}

#app-icons > div {
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 4px;
	background-size: 100% 100%;
	border-radius: 4px;
}

#app-icons > :nth-child(1) {
	background-image: url("../img/stop.svg");
}

#app-icons > :nth-child(2) {
	background-image: url("../img/icon.svg");
}

#app-icons > :nth-child(3) {
	background-image: url("../img/stopg.svg");
}

#container {
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

@media (orientation: portrait) {
	#container.fullscreen-padding {
		padding-top: 16px;
	}
}

#header {
	display: flex;
	border-bottom: 2px solid #696969;
	overflow-x: auto;
	padding: 1px 4vw;
	background-color: #111;
	-webkit-user-select: none;
	user-select: none;
}

#header-spacer {
	flex-grow: 1;
	box-sizing: border-box;
}

#header-tabs {
	display: flex;
}

#header-tabs {
	display: flex;
}

.tab {
	min-width: 2.4rem;
	text-align: center;
	padding: 2px 6px;
	color: #777;
	margin: 2px;
	border: 1px solid transparent;
	border-radius: 3px;
	position: relative;
}

.combined-tabs {
	display: flex;
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px #333;
	background-color: #191919;
	margin: 2px;
}

.combined-tabs .tab {
	margin: 0;
}

.tab:hover {
	color: #ccc;
}

#header-tabs .tab--active {
	background-color: #143;
	border: 1px solid #576;
	color: #ccc;
}

#header-tabs .tab--active:hover {
	color: #eee;
}

.muted-m-mark:after {
	content: "M";
	font-size: 0.6rem;
	font-weight: bold;
	color: orange;
	position: absolute;
	top: 0;
	right: 2px;
}

#pattern-footer .tab--active {
	background-color: #224;
	border: 1px solid #55a;
	color: #ccc;
}

#pattern-footer .tab--active:hover {
	color: #eee;
}

#header-controls {
	display: flex;
}

#header-controls > button {
	margin: 2px;
	color: transparent;
	background-size: 1.1rem 1.1rem;
	background-position: center center;
	background-repeat: no-repeat;
}

#button-fullscreen {
	background-image: url("../img/fullscreen.svg");
}

#button-settings-open {
	background-image: url("../img/gear.svg");
}

@media (max-width:500px) {
	#header-controls > button:not(#button-settings-open) {
		display: none;
	}
}

#main {
	flex-grow: 1;
	position: relative;
}

.view-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.view--hidden {
	transform: scale(0);
}

.footer {
	border-top: 2px solid #696969;
	padding: 1px 4vw;
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 3;
	background-color: #111;
}

@media (orientation: portrait) {
	.fullscreen-padding .footer {
		padding-bottom: 16px;
	}
}

.footer-menu {
	float: right;
	overflow: hidden;
}

.footer-menu > div {
	float: right;
	margin: 2px;
}

.footer-menu > button {
	float: right;
	padding: 2px 8px;
	margin: 2px;
}

button.button--play {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.1rem 1.1rem;
	color: transparent;
	min-width: 1.1rem;
	background-image: url("../img/play.svg");
}

button.button--play.button--play-loop {
	color: #333;
}

#pattern-name-area,
#song-title-area,
#synth-name-area {
	color: orange;
	padding: 2px 8px;
	max-width: 40vw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-user-select: none;
	user-select: none;
}

#arrange-main {
	overflow: auto;
	contain: content;
	/*for chromium-based browsers only*/
	-webkit-transform: translateZ(0);
}

#arrange-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: calc(1rem + 16px);
	-webkit-user-select: none;
	user-select: none;
}

#button-add-pattern {
	float: left;
	margin: 2px;
	font-weight: bold;
}

#pattern-container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin-bottom: calc(1rem + 16px);
	-webkit-user-select: none;
	user-select: none;
}

#pattern-main {
	overflow-y: scroll;
	overflow-x: auto;
	contain: content;
	-webkit-transform: translateZ(0);
}

#pattern-footer > button,
#pattern-footer > .tab {
	float: left;
	-webkit-user-select: none;
	user-select: none;
}

#button-add-pattern-layer {
	margin: 2px;
	font-weight: bold;
}

#button-add-pattern-layer:first-child {
	color: #e88;
	text-shadow: 1px 1px #a11;
}

#synth-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 95vh;
	overflow-y: auto;
	margin-bottom: calc(1rem + 16px + 60px);
	padding: 4px 0;
	contain: content;
	-webkit-transform: translateZ(0);
}

#synth-main > div {
	border: 1px solid #444;
	background-color: #191919;
	border-radius: 3px;
	flex-grow: 1;
	width: 100%;
	min-width: 41vw;
	max-width: 55vh;
	padding: 10px 15px;
	margin: 4px;
	-webkit-user-select: none;
	user-select: none;
	overflow: hidden;
	background-position: bottom 15px right 30px;
	background-repeat: no-repeat;
	background-size: 84px 42px;
}

#synth-main .block-spacer {
	min-width: 90%;
	box-sizing: border-box;
	border: none;
	background-color: inherit;
	padding: 8px 0 0 0;
	text-align: center;
	color: #aaa;
	font-weight: bold;
	align-self: flex-end;
	margin: 5px;
}

@media (min-width: 720px) and (max-width: 1279px) {
	#synth-main > div {
		max-width: 41vw;
	}
}

@media (min-width: 1280px) {
	#synth-main > div {
		max-width: 27vh;
		min-width: 21vw;
	}

	#synth-main .fx-spacer {
		min-width: 21vw;
		padding: 14px 15px;
		box-sizing: content-box;
		text-align: right;
		align-self: flex-start;
	}

	#synth-main select {
		max-width: 30%;
		text-overflow: ellipsis;
	}
}

#synth-main > div.border-osc {
	border-top: 3px solid #777;
}

#synth-main > div.border-osc-third {
	border-top: 3px solid #444;
}

#synth-main > div.border-envelope {
	border-top: 3px solid #088;
}

#synth-main > div.border-filter {
	border-top: 3px solid #890;
}

#synth-main > div.border-osc-mod {
	border-top: 2px dashed #777;
}

#synth-main > div.border-filter-mod {
	border-top: 2px dashed #890;
}

#synth-main > div.border-amp-mod {
	border-top: 2px dashed #444;
}

#synth-main > div.border-mod-envelope {
	border-top: 3px solid #62b;
}

#synth-main > div > div:last-child {
	background-color: #191919;
	height: 100%;
}

.bg-oscillator {
	background-image: url('../img/oscillator.svg');
}

.bg-lfo {
	background-image: url('../img/lfo.svg');
}

.bg-filter {
	background-image: url('../img/filter.svg');
}

.bg-noise {
	background-image: url('../img/noise.svg');
}

.bg-adsr {
	background-image: url('../img/adsr.svg');
}

.bg-modulation-osc {
	background-image: url('../img/modulation-osc.svg');
}

.bg-modulation-filt {
	background-image: url('../img/modulation-filt.svg');
}

.bg-modulation-amp {
	background-image: url('../img/modulation-amp.svg');
}

.bg-effect {
	background-image: url('../img/effect.svg');
}

#synth-mod-envelope-type,
#synth-envelope-type {
	margin: -4px -4px 4px 0;
	float: right;
}

.envelope-caption {
	float: right;
	padding: 0 4px;
	max-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.highlight-cyan {
	color: #7dd;
	font-weight: bold;
}

.highlight-violet {
	color: #b9f;
	font-weight: bold;
}

.highlight-pink {
	color: #e88;
	font-weight: bold;
}

input[type=range] {
	width: 99%;
	margin: -6px 0 2px 0;
	background-position: center center;
	background-repeat: no-repeat no-repeat;
	background-size: calc(102% - 18px) 34px;
}

input[type=range].range--3-marks {
	background-image: url("../img/range3marks.svg");
}

input[type=range].range--4-marks {
	background-image: url("../img/range4marks.svg");
}

input[type=range].range--5-marks {
	background-image: url("../img/range5marks.svg");
}

input[type=range].range--8-marks {
	background-image: url("../img/range8marks.svg");
}

input[type=range].range--10-marks {
	background-image: url("../img/range10marks.svg");
}

input[type=range].range--12-marks {
	background-image: url("../img/range12marks.svg");
}

input[type=range].range--volume {
	background-image: url("../img/range-volume.svg");
}

#synth-footer {
	border-top: 2px solid #696969;
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 3;
	background-color: #111;
}

@media (orientation: portrait) {
	.fullscreen-padding #synth-footer {
		padding-bottom: 15px;
	}
}

#synth-footer-controls {
	padding: 1px 4vw;
	overflow: hidden;
}

#synth-name-area,
#synth-footer-controls > button {
	float: right;
	padding: 2px 8px;
	margin: 2px;
}

.div-mute-controls {
	float: left;
}

#piano-container-outer {
	overflow-x: auto;
	display: flex;
	justify-content: center;
}

#piano-container-outer.piano--scrolllock {
	overflow-x: hidden;
}

#piano-container {
	-webkit-user-select: none;
	user-select: none;
	padding: 1px 0;
	/*fix content cut*/
	min-width: 0;
}

#piano-container.piano--hidden {
	display: none;
}

#piano-container > div {
	display: flex;
}

#piano-container > div:first-child {
	padding-left: 17px;
}

.piano-key {
	width: 35px;
	min-width: 35px;
	height: 35px;
	border: 1px solid #696969;
	border-radius: 3px;
	margin: 1px;
	position: relative;
}

.piano-key > .note-mark {
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 0;
}

.c4-key-mark {
	color: #768;
}

.piano-key > .letter-mark {
	padding-left: 2px;
	font-size: 14px;
	color: transparent;
}

#piano-container.show-letters .letter-mark {
	color: #588;
}

.piano-key-white {
	background-color: #ccc;
}

.piano-key-black {
	background-color: #333;
}

.key--pressed {
	box-shadow: inset 0 0 0 3px #c18600;
}

.synth-list-entry {
	border: 1px solid #444;
	background-color: #222;
	border-radius: 3px;
	margin: 8px auto 8px auto;
	padding: 8px 12px;
	width: 80%;
	max-width: 80vh;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
}

.synth-list-entry--current:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8px;
	width: 0;
	height: 0;
	border-left: 6px solid #444;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.synth-list-entry:hover {
	border: 1px solid #606060;
}

.synth-list-entry--current:hover:before {
	border-left: 6px solid #606060;
}

.synth-list-entry:active {
	background-color: #191919;
}

.synth-list-entry--disabled {
	opacity: 0.4;
}

.synth-entry-name {
	float: left;
}

.js-synth-entry-menu {
	float: right;
	padding: 8px;
	margin: -8px 0;
}

.js-synth-entry-menu:hover {
	color: #eee;
}

.muted-mark:after {
	content: "Muted";
	font-size: 0.6rem;
	color: orange;
	float: right;
	margin-top: -4px;
}

#synth-list-main {
	flex-grow: 1;
	overflow-y: auto;
	margin-bottom: calc(1rem + 16px);
}

#button-add-synth {
	font-weight: bold;
	margin: 2px;
	float: left;
}

#button-mixer-menu-open {
	margin: 2px;
	float: left;
}

#synth-list-caption-area {
	float: right;
	padding: 2px;
	margin: 2px;
	-webkit-user-select: none;
	user-select: none;
}

.caption-text {
	color: #ddd;
	font-weight: bold;
}

.dim-text {
	color: #555;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.modal-box {
	border: 2px solid #333;
	border-radius: 3px;
	background-color: #191919;
	padding: 12px;
	box-sizing: border-box;
	max-height: 100vh;
	max-width: 100vw;
	overflow-y: auto;
}

.modal-alert-box {
	min-width: 240px;
}

.modal-box-block {
	padding: 12px 4px 0 4px;
	overflow: auto;
}

.modal-box-block:first-child {
	padding-top: 4px;
}

.modal-box-block.modal-box-footer {
	padding-top: 8px;
	border-top: 1px solid #333;
	margin-top: 4px;
}

.modal-box-block > button,
.modal-box-block > *:last-child {
	margin-bottom: 4px;
}

.modal-box .spacer {
	height: 10px;
}

.modal-box table input[type=range] {
	margin: -2px 0 -4px 0;
}

.modal-box table input[type=number] {
	width: 50%;
}

.modal-box table input[type=text] {
	width: 95%;
}

.modal-box td {
	padding: 2px;
	height: 8px;
	white-space: nowrap;
}

.modal-box button {
	min-width: 2rem;
}

.modal-box .button-modal-bottom {
	float: right;
	margin-left: 5px;
	min-width: 80px;
}

.modal-box-inline {
	display: inline-block;
	background-color: #161616;
	padding: 3px;
	border: 1px solid #333;
	border-radius: 5px;
}

#synth-select-modal-menu .modal-box-footer {
	margin-top: 0;
}

#button-synth-select {
	width: 60%;
	max-width: 40vw;
	box-sizing: border-box;
	padding-right: 1rem;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='70' width='120'><path d='M 10,10 60,60 110,10' style='fill:none;stroke:rgb(150,150,150);stroke-width:20;stroke-linecap:round; stroke-linejoin:round'/></svg>");
	background-position: center right 0.5em;
	background-repeat: no-repeat;
	background-size: auto 25%;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#button-color-select {
	color: transparent;
}

#color-list-container {
	max-width: 300px;
}

#color-list-container button {
	float: left;
	box-sizing: border-box;
	height: 25px;
	width: 44px;
	margin: 3px;
}

button.button--selected {
	border: 1px solid #999;
}

button.button--selected:focus {
	border: 1px solid #777;
}

button.button--shadowed {
	color: transparent;
	box-shadow: inset 0 0 0 2px #333, inset -15px 0px 0 0 rgba(0, 0, 0, 0.39);
}

button.button--shadowed:hover {
	box-shadow: inset 0 0 0 2px #444, inset -15px 0px 0 0 rgba(0, 0, 0, 0.39);
}

button.button--shadowed:active {
	box-shadow: inset 0 0 0 2px #282828, inset -15px 0px 0 0 rgba(0, 0, 0, 0.39);
}

#button-export-menu-open,
#button-render {
	min-width: 80px;
}

button.button--highlight-orange {
	box-shadow: inset 0 0 0 2px orange;
}

button.button--highlight-yellow {
	box-shadow: inset 0 0 0 1px #890;
}

#menu-synth-list-container {
	max-width: 55vh;
	width: 75vw;
	margin: 12px 16px 0 16px;
}

#menu-synth-list-container .synth-list-entry {
	padding: 8px;
}

#synth-list-entry-none {
	color: #e88;
}

#export-ongoing-container {
	display: none;
}

.progress-animation {
	position: relative;
	background-color: black;
	border: 2px solid black;
	height: 1rem;
}

.progress-animation:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 25%;
	background-color: #777;
}

@keyframes bounce {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(300%);
	}

	100% {
		transform: translateX(0);
	}
}

.progress-animation.moving:before {
	animation: bounce 5s infinite linear;
}

#wav-link-container {
	display: none;
}

#startup-menu-box {
	min-width: 35vw;
}

#startup-loading-title {
	text-align: center;
	padding: 32px;
}

.startup-menu-entry {
	border: 1px solid #444;
	background-color: #222;
	border-radius: 3px;
	margin: 8px auto 8px auto;
	padding: 8px 32px;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.startup-menu-entry:hover {
	border: 1px solid #606060;
}

.startup-menu-entry:active {
	background-color: #191919;
}

.startup-menu-entry input[type=file],
.button input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;
	font-size: 50px;
}

input[type=file]:focus + span {
	color: #eee;
}

.dragshade {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.dragover ~ .dragshade {
	background-color: rgba(100, 100, 0, 0.4);
}

#synth-name-container {
	display: flex;
	align-items: baseline;
	white-space: nowrap;
}

#input-synth-name {
	width: 10rem;
	flex-grow: 1;
	margin-left: 8px;
}

#button-import-synth {
	position: relative;
	overflow: hidden;
	margin-right: 4px;
	margin-bottom: 4px;
	vertical-align: middle;
}

#select-synth-preset {
	max-width: 5rem;
}

.scrollable-modal {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0;
}

.scrollable-modal .modal-box-footer {
	flex-shrink: 0;
	margin: 0 12px 12px 12px;
}

#mixer-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 8px 8px 4px 8px;
	min-width: 80vw;
}

.mixer-entry {
	border: 1px solid #444;
	background-color: #222;
	border-radius: 3px;
	width: 85vw;
	min-width: 35vw;
	max-width: 55vh;
	padding: 5px 1.5vw;
	margin: 4px;
	-webkit-user-select: none;
	user-select: none;
}

.mixer-header-line {
	overflow-y: hidden;
}

.mixer-header-line button {
	float: right;
}

.mixer-header-line input[type=checkbox] {
	float: right;
	margin-top: 0.1rem;
}

.mixer-header-line label {
	float: right;
	margin-left: 4px;
	margin-right: 12px;
}

.mixer-line {
	display: flex;
	padding: 6px 4px 2px 4px;
}

.mixer-line :first-child {
	margin-right: 4px;
}

.mixer-line input {
	flex-grow: 1;
}

.div-mute-controls-modal {
	float: left;
}

.div-mute-controls-modal button {
	margin: 0;
}

#timers-area span {
	color: #555;
	-webkit-user-select: none;
	user-select: none;
}

#additional-table {
	width: 360px;
	max-width: 85vw;
}

#additional-table td:first-child {
	text-align: right;
}

.values-cell {
	width: 100%;
	color: #555;
	text-align: right;
}

.dimmed-cell {
	color: #555;
}

#pattern-list-container {
	width: 480px;
	max-width: 90vw;
}

.pattern-list-entry {
	border: 1px solid #444;
	background-color: #222;
	border-radius: 3px;
	margin: 4px auto;
	padding: 2px 12px;
	max-width: 320px;
	overflow: show;
	-webkit-user-select: none;
	user-select: none;
	position: relative;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.pattern-list-entry.drop-hint {
	background-color: #282828;
}

.pattern-list-entry.drop-hint * {
	pointer-events: none;
}

.pattern-list-entry.drop-target:after {
	content: "";
	background-color: #eee;
	position: absolute;
	width: 100%;
	height: 2px;
	top: -4px;
	left: 0;
	z-index: 100;
	pointer-events: none;
}

.dragged ~ .pattern-list-entry.drop-target:after {
	top: auto;
	bottom: -4px;
}

.pattern-list-entry.dragged {
	background-color: #191919;
}

.pattern-list-entry.dragged:after {
	content: none;
}

.pattern-list-entry > span {
	flex-grow: 1;
}

.pattern-list-entry > span {
	display: inline-block;
	min-width: 120px;
}

.pattern-list-entry button {
	min-height: 1rem;
	padding: 1px 2px;
	margin: 2px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 50%;
}

button.button--arrow-down {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='70' width='120'><path d='M 10,10 60,60 110,10' style='fill:rgb(150,150,150);stroke:none'/></svg>");
}

button.button--arrow-up {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='70' width='120'><path d='M 10,60 60,10 110,60' style='fill:rgb(150,150,150);stroke:none'/></svg>");
}

.toast-container {
	position: fixed;
	bottom: 80px;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 12;
	pointer-events: none;
}

#toast-box {
	border: 1px solid #444;
	border-radius: 3px;
	padding: 6px 24px;
	background-color: #222;
	color: #ccc;
	box-sizing: border-box;
	max-width: 80vw;
	text-align: center;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.39);
	-webkit-user-select: none;
	user-select: none;
}

#toast-box:hover {
	border: 1px solid #606060;
}

.disabled {
	opacity: 0.4;
}

.nodisplay {
	display: none;
}

.tab-trap {
	width: 0;
	outline: none;
}

@media (min-width: 1400px) {

	button,
	.button {
		padding: 4px 12px;
	}

	button.button--small {
		padding: 2px 6px;
	}

	select {
		padding: 4px 2rem 4px 8px;
	}

	input[type=text],
	input[type=number] {
		padding: 4px 8px;
	}

	.tab {
		padding: 4px 12px;
	}

	#synth-footer-controls > button,
	.footer-menu > button {
		padding: 4px 14px;
	}

	#pattern-name-area,
	#song-title-area,
	#synth-name-area,
	#synth-list-caption-area {
		padding: 4px 16px;
	}
}

@media (hover: hover) {
	#pattern-main.add-scrollbar-spacing {
		border-right: 1px solid #222;
	}

	#pattern-main.add-scrollbar-spacing > table {
		margin-right: 16px;
	}

	#arrange-main.add-scrollbar-spacing {
		padding-bottom: 16px;
		border-bottom: 1px solid #222;
	}
}